.sideImage{
    max-width: 500px;
    width: 90%;
    border-radius: 100%;
}

.CourseSection img{
    width: 60%;
    margin: auto;
}



.timelineImages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 60%;
    /* margin: 20px 0px; */
}
.levelContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0px;
    /* width: 100%; */
    flex-basis: 40%;

}
.level_goals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0px;
    width: 100%;

}
.level_goals .goal{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
    padding: 10px 5px;
    background-color:#27beb7 ;
    color: white;
    font-family: "El Messiri", cursive;
    font-weight: 600;
    width: 600px;
    /* min-width: 500px; */

}
.arBody .level_goals .goal{
    border-radius: 10px 70px 70px 10px;
    padding-left: 10px;
}
.enBody .level_goals .goal{
    border-radius: 70px 10px 10px 70px;
    padding-right: 10px;
}
.level_goals .goal .goal_icon{
    margin: 0px 10px;
    color: #5ad2d2;
    background-image: linear-gradient(0deg, white, #e7e7e7);
    padding: 24px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-color: white;
    font-size: 2rem;
    color: #bebebe;

}
.level_goals .goal .border-wrap{
    background-image: linear-gradient(90deg, white, #e7e7e7);
    padding: 5px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.arBody .level_goals .goal .border-wrap{
    margin-left: 10px;
}
.enBody .level_goals .goal .border-wrap{
    margin-left: 10px;
}
.level_goals .goal span{
    font-size: 1.5rem;
}

.w-80{
    width: 80%;
    justify-content: center;
    align-items: center;
}
.right_section{
    width: 50%;
    padding: 0px 20px;
}
.left_section{
    width: 50%;
    padding: 0px 20px;
}
@media (max-width:1300px) {
    .right_section{
        width: 60%;
        padding: 0px 20px;
    }
    .left_section{
        width: 40%;
        padding: 0px 20px;
    }
}
@media (max-width:1150px) {
    .right_section{
        width: 100%;
    }
    .right_section h1{
        text-align: center;
    }
    .headerButtons{
        text-align: center;
    }
    .level_goals .goal{
        width: 100%;
        max-width: 550px;
    }

    .level_goals .goal span{
        font-size: 1rem;
    }

    .timelineImages{

        flex-basis: 70%;
    }
    .levelContent{

        flex-basis: 100%;
        justify-content: center;
        align-items: center;
    
    }
    .levelContent .level_goals{
        align-items: center;
    }
}

@media (max-width:790px) {
    .level_goals .goal{
        width: 100%;
        max-width: 550px;
    }

    .level_goals .goal span{
        font-size: 1rem;
    }

    .timelineImages{

        flex-basis: 100%;
    }
    .levelContent{

        flex-basis: 100%;
        justify-content: center;
        align-items: center;
    
    }
    .levelContent .level_goals{
        align-items: center;
    }
}